@font-face {
    font-family: Cairo;
    src: url(./Fonts/Cairo-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Cairo;
    src: url(./Fonts/Cairo-Bold.ttf);
    font-weight: bold;
}
